@import '../../styles/variables.scss';

.item {
  border: 2px solid $color-background-light;
  border-radius: 4px;
  background-color: $color-background-light;
  transition: all 0.3s ease;

  &:hover {
    background-color: $color-background-hover;
    border-color: $color-background-hover;
  }
}

.headerContainer {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  padding: $spacing-sm $spacing-md;
  text-align: left;
  width: 100%;
  cursor: pointer;
  font-size: $font-size-lg;
  transition: background-color 0.3s;
  background-color: transparent;
  color: $color-white;

  @media (min-width: $breakpoint-lg) {
    font-size: $font-size-xl;
  }
}

.header.active {
  color: $color-primary;
}

.icon {
  fill: $color-white;
  transition: all 0.3s ease;
}

.header.active .icon {
  fill: $color-primary;
  transform: rotate(180deg);
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s ease 0s;

  font-size: $font-size-md;
  background-color: $color-background;
  border-radius: 0 0 4px 4px;

  @media (min-width: $breakpoint-lg) {
    font-size: $font-size-lg;
  }
}

.content.activeContent {
  /* 
  This was a hack that I'm usually not a fan of because of the fixed value.. 
  I implemented this for the slide-open animation because
  you need a fixed max-height value to animate the transition.

  The delay that happens when clicking between the accordion items makes me think that we maybe
  shouldn't have this animation because it could be considered as bad UX, but I chose to leave
  this feature in to show of some animation skills and to create a scenario where I could
  show my consideration for UX as well.
  */
  max-height: 1000px;
}

.contentParagraph {
  padding: $spacing-sm $spacing-md;
  margin: 0;
}
