@import '_variables.scss';

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: $font-size-heading-mobile;
  text-align: center;
  color: $color-primary;
  margin-top: 0;
  margin-bottom: $spacing-xl;
}

@media (min-width: $breakpoint-sm) {
  .title {
    font-size: $font-size-heading-desktop;
  }
}
