@import '_variables.scss';

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: $font-size-heading-xs;
  text-align: center;
  color: $color-primary;
  margin-top: 0;
  margin-bottom: $spacing-xl;
}

@media (min-width: $breakpoint-sm) {
  .title {
    font-size: $font-size-heading-sm;
  }
}

@media (min-width: $breakpoint-md) {
  .title {
    font-size: $font-size-heading-md;
  }
}

@media (min-width: $breakpoint-lg) {
  .title {
    font-size: $font-size-heading-lg;
  }
}

.description {
  font-size: $font-size-lg;
  text-align: center;
  margin-top: 0;
  margin-bottom: $spacing-xl;
}
